body {
  padding: 50px;
}

* {
  box-sizing: border-box;
}

.color-picker {
  display: grid;
  gap: 20px;
  width: 500px;
}

.saturation,
.handler {
  --size: 20px;

  &__pointer {
    position: absolute;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: 1px solid #000;
    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    background: none;
    transform: translate(-50%, -50%);

    &:focus-visible {
      box-shadow: 0 0 0 2px rgb(44, 27, 229);
    }
  }
}

.saturation {
  position: relative;

  &__canvas {
    display: block;
    width: 100%;
    height: 300px;
  }

  &__pointer {
    top: var(--y);
    left: var(--x);
    background: var(--color);
  }
}

.handler {
  position: relative;
  display: block;
  border-radius: calc(var(--size) / 2);
  width: 100%;
  height: var(--size);
  --x: calc(var(--progress) * 100%);

  &__track {
    position: absolute;
    inset: 0 calc(var(--size) / 2);
  }

  &__pointer {
    top: 50%;
    left: var(--x);
  }

  &_hue {
    background-image: linear-gradient(to right, var(--colors));

    .handler__pointer {
      background: var(--color);
    }
  }

  &_opacity {
    box-shadow: inset 0 0 0 1px #000;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, var(--color) 100%);

    .handler__pointer {
      background: none;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background: var(--color);
        opacity: var(--progress);
      }
    }
  }
}

.input {
  display: grid;
  gap: 10px;
}

.rgba {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  input {
    display: block;
    padding: 0 12px;
    border: 1px solid #000;
    height: 30px;
    width: 100%;
    font-size: 14px;
    line-height: normal;
  }
}

.hex {
  position: relative;

  &:before {
    content: '#';
    position: absolute;
    inset: 0 auto 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0;
    font-size: 14px;
  }

  input {
    display: block;
    padding: 0 12px 0 calc(1ch + 12px);
    border: 1px solid #000;
    height: 30px;
    width: 100%;
    font-size: 14px;
    line-height: normal;
  }
}
